*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
.signi{
    width: 25%;
    height: 350px;
    margin: 70px auto 20px auto;
    padding: 20px;
    background-color:rgb(247, 243, 235);
    border-radius: 3%;
    text-align: center;
}
input{
    width: 90%;
    height: 50px;
    margin: 10px auto;
    text-align: center;
    font-size: 15px;
}
img{
    width: 35px;
}
a{
    color:rgb(176, 182, 236);
    text-decoration: none;
}
.btn{
    background-color:rgb(98, 185, 240);
    color: white;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color:rgb(46, 160, 231);
}
.apple{
    background-color:rgb(12, 12, 12);
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}
.apple:hover{
    background-color: rgb(70, 70, 70);
}
button a {
    color: white;
    text-align: center;
    text-decoration: none;
}