*{
    margin: 0;
    padding: 0;
    /* font-family: Lato,sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
.footer{
    width: 100%;
    height: auto;
    background-color: whitesmoke;
}
.footer1{
    text-align: center;
    display:inline-block;
    width: 23%;
    margin: 0px 5px;
    color: silver;
}
.box{
    border-top: 0.5px solid gray;
    border-bottom: 0.5px solid gray;
     color: silver;
     padding: 10px;
}
.footer img{
    width: 35px;
}
#icons{
    width: 100px;
    margin: 10px;

}
.box2{
    display: grid;
    grid-template-columns: 60% 30%;
    font-size: 12px;
    font-family: Lato,sans-serif;
     color: rgb(182, 178, 178);
     /* background-image: url("https://cdn.desertcart.com/static/media/footer-bg-mobile.11832ed8.png"); */
     background-image: url("https://cdn.desertcart.com/static/media/footer-bg.6db5b996.png");
     background-repeat: no-repeat;
     background-size: cover;
     height: inherit;
}
.subbox{
    display: inline-block;
    margin-left: 50px;
    text-align: left;
    vertical-align: top;
    gap: 80px;

}
.subbox>div{
    padding: 4px;
}
#social{
    text-align: center;
    vertical-align: middle;
    gap: 10px;
    margin-top: 20px;
}
h3 a{
    color:silver;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    }

.help{
    display: inline-block;
    margin: 0px 5px;
    /* border: 1px solid red; */
}
@media(max-width:600px){
    .footer{
        width: 50%;
        height: auto;
        background-color: whitesmoke;
        border: 0.5px solid gray;
    }
    .footer1{
        text-align: center;
        display: grid;
        grid-template-columns: 15% 15% 15% 15%;
        grid-template-rows: max-content;
        margin: 5px;
    }
    .box{
        border: 0.5px solid gray;
    }
    .help{
        display: flex;
        flex-direction: row;
        margin: 2px;
    }
    .footer img{
        width: 20px;
    }
}
@media(max-width: 900px){
    .box2{
        display: grid;
        grid-template-columns: 100%;
        gap: 5%;
    }
    .footerfold>div{
        display: grid;
        grid-template-columns: 10% 10% 10% 10% 10% 10% ;
        gap: 30px;
    }
    .icon{
        display: flex;
        margin: 20px
    }
    .footer img{
        margin: 10px;
    }
    .help{
        margin: 2px;
    }    
}
