*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#header1 {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(202, 202, 202);
    position: fixed;
    overflow: hidden;
    top: 0;
    background-color: white;
    height: 60px;
    padding-left: 5%;
}

.headerIcon {
    width: 25px;
    margin: auto 28px;
    cursor: pointer;
}

#logo {
    width: 42px;
    margin-right: 10px;
    cursor: pointer;
}

#header1>div:nth-child(2) {
    flex-basis: 10%;
    margin-left: 10px;
    margin-right: 20px;
}
#explore {
    border: none;
    cursor: pointer;
    font-size: 14px;
}
#navSearchBox{
    width: 50%;
}
#navSearchBox input{
    width: 100%;
    border-radius: 25px;
    outline: none;
    border: none;
    padding: 2% 8%;
    box-shadow: 0px 0px 0px 1px rgb(206, 206, 206);
}
#header1>div>button {
    border: none;
    padding: 0 0 5px 3px;
    background-color: white;
    font-size: 11px;
    color: rgb(80, 79, 79);
    cursor: pointer;
}


#header2_1 {
    width: 100%;
    background-image: url(../images/disertHomeCoverEdited.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 55px;
    height: 345px;
    padding: 0.1px;
}
#searchBox{
    width: 45%;
    margin: 8% auto 6% auto;
}
#searchBox p{
    font-size: 19px;
    color: rgb(63, 62, 62);
}

#searchBox>input {
    border-radius: 25px;
    padding: 2% 8%;
    width: 100%;
    font-size: 14px;
    border: none;
    margin-top: 24px;
    outline: none;
    box-shadow: 0px 0px 0px 1px rgb(206, 206, 206);
    font-size: 14px;
}
#header2_1_tag{
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
#header2_1_tag p{
    font-size: 17px;
}
#slideshow {
    width: 82%;
    margin: auto;
    margin-top: 22px;
}

#slideshow>img {
    width: 100%;
    height: 225px;
    cursor: pointer;
}

#global_box>div:nth-child(4) {
    width: 83%;
    margin: 42px auto;
}
#productCont>div {
    display: flex;
    justify-content: space-between;
}
#productCont>div h3{
    font-size: 18px;
    margin-bottom: 8px;
    overflow-y: unset;
}
#productCont>div>div>img {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    height: 220px;
}

#productCont>div>div>p{
    margin: 0px 0px 25px 12px;
    font-size: 12px;
    color: rgb(70, 68, 68);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
#productCont>div>div>h4{
    margin: 12px;
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

#productCont>div>div {
    width: 32%;
    border: 1px solid rgb(235, 234, 234);
    margin: 15px 0 75px 0;
    cursor: pointer;
    border-radius: 8px;
    padding: 0.1px;
    cursor: pointer;
}
#productCont>div>div:hover{
    background: rgb(245, 245, 245);
}
.parrentWrapper{
    display: flex;
    flex-direction: row;
}

@media (max-width: 575px){
    #searchBox {
        width: 90%;
        margin: 8% auto 3% auto;
    }
    #header2_1{
        height: 180px;
    }
    #signIn, #creatAc, #blobalIcon{
        display: none;
    }
    #navSearchBox{
        width: 65%;
    }
    #slideshow>img {
        height: 280px;
    }
    #productCont>div>div>img {
        height: 120px;
    }
    #productCont>div{
        overflow-x: scroll;
        display: grid;
        grid-template-columns: 220px 220px 220px;
    }
    #productCont>div::-webkit-scrollbar {
        display: none;
    }
    #productCont>div h3{
        overflow-y: unset;
    }
    #productCont>div > div {
        width: 200px;
    }
}
@media (min-width:575px) and (max-width: 950px) {
    #header2_1{
        height: 230px;
    }
    #searchBox {
        width: 90%;
        margin: 8% auto 3% auto;
    }
    #signIn, #creatAc, #blobalIcon{
        display: none;
    }
    #navSearchBox{
        width: 65%;
    }
    #slideshow>img {
        width: 100%;
        height: 250px;
    }
    #productCont>div>div>img {
        height: 130px;
    }
    #productCont>div{
        overflow-x: scroll;
        display: grid;
        grid-template-columns: 220px 220px 220px;
    }
    #productCont>div::-webkit-scrollbar {
        display: none;
      }
    #productCont>div > div {
        width: 215px;
    }
}
