*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#header1 {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(202, 202, 202);
    position: fixed;
    overflow: hidden;
    top: 0;
    background-color: white;
    height: 55px;
    padding-left: 5%;
}

.headerIcon {
    width: 20px;
    margin: auto 28px;
    cursor: pointer;
}

#logo {
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
}

#header1>div:nth-child(2) {
    flex-basis: 63%;
    margin-left: 10px;
}

#explore {
    border: none;
    cursor: pointer;
    font-size: 14px;
}

#header1>div>button {
    border: none;
    padding: 0 0 5px 3px;
    background-color: white;
    font-size: 12px;
    color: rgb(59, 58, 58);
    cursor: pointer;
}


#header2_1 {
    width: 100%;
    background-image: url(../images/disertHomeCoverEdited.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 55px;
    height: 325px;
    padding: 0.1px;
}

#header2_1>div {
    width: 46%;
    margin: 8% auto;
}
#header2_1>div p{
    font-size: 19px;
}

#header2_1>div>input {
    border-radius: 25px;
    padding: 10px;
    width: 95%;
    font-size: 14px;
    border: none;
    margin-top: 22px;
}

#slideshow {
    width: 83%;
    margin: auto;
    margin-top: 14px;
}

#slideshow>img {
    width: 100%;
    height: 235px;
    cursor: pointer;
}

#global_box>div:nth-child(4) {
    width: 83%;
    margin: 28px auto;
}
#productCont>div {
    display: flex;
    justify-content: space-between;
}
#productCont>div h3{
    font-size: 18px;
}
#productCont>div>div>img {
    width: 100%;
    border-radius: 8px;
}

#productCont>div>div>p{
    margin: 0px 0px 25px 12px;
    font-size: 12px;
    color: rgb(70, 68, 68);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}
#productCont>div>div>h4{
    margin: 10px 12px;
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

#productCont>div>div {
    width: 32%;
    border: 1px solid rgb(235, 234, 234);
    margin: 15px 0 75px 0;
    cursor: pointer;
    border-radius: 8px;
    padding: 0.1px;
}