/* Vikas Kumar - fw12_132 */
*{
    padding: 0;
    margin: 0;
}
body{
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    font-size: 12px;
    font-family: Lato,sans-serif;
    font-weight: 400;
    line-height: 1.43;
    background-color: #fff;
}

#filter{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 70px auto 15px auto;
    justify-content: space-between;
}
.filterBox{
    width: 30%;
    border: 1px solid rgb(202, 202, 202);
    height: 45px;
    padding: 8px 12px 8px 12px;
    border-radius: 8px;

}
.filterBox label{
    font-size: 10px;
    margin-left: 4px;
    color: rgb(146, 143, 143);
}
.filterBox select{
    width: 100%;
    font-size: 14px;
    border: none;
}
.filterBox select:hover{
    cursor: pointer;
}

/* thin horizontal line */
.hrLine{
    border-bottom: 1px solid rgb(238, 236, 236);
    width: 85%;
    margin: 8px auto;
}

/* section heading */
.sectionHead{
    width: 80%;
    margin: 45px auto 25px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

/* global product list */
.globalProducts{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    gap: 22px;
}
.productBox{
    border: 1px solid rgb(240, 239, 239);
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}
.productBox:hover{
    box-shadow: 1px 2px 3px 0 grey;
}
.productBox img{
    width: 50%;
    margin: 0 25%;
    height: 145px;
}
.textBox{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    margin: 25px 0 2px 0;
}
.productWrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.textGreyColor{
    color: rgb(90, 87, 87);
}
.origin{
    text-align: right;
}
#textPrice{
    font-weight: bold;
    font-size: 14px;
    margin-top: 12px;
}

@media  (max-width: 940px){
    .globalProducts{
        width: 90%;
        grid-template-columns: 48% 48%;
    }
    #filter{
        width: 90%;
    }
    .filterBox{
        width: 28%;
        border: 1px solid grey;
        height: 28px;
        padding: 6px 8px 6px 8px;
        border-radius: 2px;
    }
    .sectionHead{
        width: 90%;
    }
}
@media  (min-width: 940px) and (max-width: 1280px){
    .globalProducts{
        width: 85%;
        grid-template-columns: 31% 31% 31%;
    }
    #filter{
        width: 85%;
    }
    .filterBox{
        width: 30%;
        border: 1px solid rgb(202, 202, 202);
        height: 42px;
        padding: 2px 8px 6px 8px;
        border-radius: 5px;
    }
    .sectionHead{
        width: 85%;
    }
}