.footer{
    width: 100%;
    height: auto;
    background-color: whitesmoke;
}
.footer1{
    text-align: center;
    display:inline-block;
    width: 23%;
    margin: 5px;
    font-size: 0.75rem;
    font-family: Lato,sans-serif;
     color: silver;
}
.box{
    border: 0.5px solid gray;
    font-size: 0.75rem;
    font-family: Lato,sans-serif;
     color: silver;
}
img{
    width: 35px;
    margin: 10px;
}
#icons{
    width: 100px;
    margin: 10px;

}
.box2{
    display: grid;
    grid-template-columns: 60% 30%;
    font-size: 0.75rem;
    font-family: Lato,sans-serif;
     color: rgb(182, 178, 178);
     background-image: url("https://media.istockphoto.com/photos/the-gray-and-silver-are-light-black-with-white-the-gradient-is-the-picture-id1190757819?b=1&k=20&m=1190757819&s=170667a&w=0&h=F7KCEroNBnDgqpHeJ3CP-5AsMjmpi2zF4L8Oxhc4RLE=");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     backface-visibility: initial;
}
.subbox{
    display: inline-block;
    margin-left: 50px;
    text-align: left;
    vertical-align: top;
    gap: 80px;
}
.subbox>div{
    padding: 4px;
}
#social{
    text-align: center;
    vertical-align: middle;
    gap: 10px;
    margin-top: 40px;
}
h3 a {
    color:silver;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    }

.help{
    display: inline-block;
    margin: 5px;
}
@media(max-width:600px){
    .footer{
        width: 50%;
        height: auto;
        background-color: whitesmoke;
        border: 0.5px solid gray;
    }
    .footer1{
        text-align: center;
        display: grid;
        grid-template-columns: 15% 15% 15% 15%;
        grid-template-rows: max-content;
        margin: 5px;
    }
    .box{
        border: 0.5px solid gray;
    }
    .help{
        display: flex;
        flex-direction: row;
        margin: 2px;
    }
    img{
        width: 20px;
    }
}
@media(max-width: 1000px){
    .box2{
        display: grid;
        grid-template-rows: 70% 20%;
        grid-template-columns: 100%;
        gap: 5%;
    }
    .footerfold>div{
        display: grid;
        grid-template-columns: 10% 10% 10% 10% 10% 10% ;
        gap: 40px;
    }
    .icon{
        display: flex;
        margin: 20px
    }
    img{
        margin: 10px;
    }
    .help{
        margin: 2px;
    }
   
    
}