body{
    background-color: white;
}
#myForm{
    width: 420px;
    height: 500px;
    margin-top: 20px;
    margin-left: 30%;
    padding: 20px;
    background-color:rgb(247, 243, 235);
    border-radius: 3%;
    text-align: center;
}
input{
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 50px;
    margin: 5px;
   background-color: gainsboro;
   margin-left: 30px;
   font-size: 0.75rem;
    font-family: Lato,sans-serif;
     color: silver;
}
.btn{
    width: 220px;
    height: 60px;
    background-color:rgb(98, 185, 240);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}
img{
    width: 35px;
}
#myForm >div{
    display: grid;
    grid-template-rows: 50% 50%;
}
.submitbtn {
    display: grid;
    grid-template-columns: 35% 50%;
    margin-left: 30px;
}
@media(max-width:800px){
    #myForm{
    width: 350px;
    height: 400px;
    margin-top: 20px;
    margin-left: 25%;
    padding: 20px;
    background-color:rgb(247, 243, 235);
    border-radius: 3%;
}
input{
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 50px;
    margin: 5px;
   background-color: gainsboro;
   margin-left: 30px;
}
.btn{
    width: 170px;
    height: 60px;
    background-color:rgb(98, 185, 240);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

}