/* Vikas Kumar - fw12_132 */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    line-height: 1.43;
    background-color: #fff;
}
#globalContainer{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 120px auto;
}

/* left_part */
#productDetails{
    width: 50%;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 8px;
    padding: 10px;
    overflow: scroll;
    max-height: 750px;
}
#productDetails::-webkit-scrollbar {
    display: none;
}
#product{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid rgb(235, 235, 235);
    margin-bottom: 10px;
    border-radius: 8px;
    gap: 3px;
}
#proImg{
    width: 25%;
}
#proImg img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#proName{
    width: 50%;
}
#proName >p:first-child{
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
#priceDet{
    display: flex;
    justify-content: space-between;
}
#priceDet >p:first-child{
    font-weight: bold;
    margin-top: 16%;
}
#proSize{
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}
#divCount{
    border: 1px solid rgb(184, 184, 184);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    flex-wrap: wrap;
    text-align: center;
}
#divFit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 5px;
    width: 93%;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgb(235, 235, 235);
}
#divCount::-webkit-scrollbar {
    display: none;
}
.showQuantity{
    width: 35px;
    text-align: center;
    border: none;
    outline: none;
}
#subtractQuantity{
    cursor: pointer;
}
#addQuantity{
    cursor: pointer;
}
/* right_part */
#cartDetails{
    width: 42%;
    padding: 2%;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 8px;
    max-height: 750px;
}
#ship{
    width: 50%;
    margin: auto;
}
#shipMethod{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#shipMethod img{
    width: 80%;
    margin: 12%;
}
.standard{
    width: 42%;
    height: 180px;
    font-size: 10px;
    padding: 5px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
}
.standard > p{
    margin: 5px 0px;
}
#smallIcon{
    display: flex;
    gap: 5px;
    justify-content: center;
    width: 82%;
    padding: 5px;
    margin: 18px auto;
    background-color: rgb(231, 230, 230);
    align-items: center;
    border-radius: 5px;
}
#cnfButton{
    padding: 17px 0px;
    width: 100%;
    margin: auto;
    background-color: #5eb2d9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 18px;
}
.payBtn{
    position: fixed;
    bottom: 5px;
    left: 5%;
}
/* Input Box */
.inputBox{
    width: 95%;
    padding: 15px 0px;
    margin: 6px 0px 18px 8px; 
    border-radius: 5px;
    border: 1px solid grey;
    text-align: center;
}

/* Debit card payment option */
#bebitCard{
    width: 25%;
    display: flex;
    flex-direction: column;
    height: 85px;
    align-items: center;
    justify-content: center;
    margin: 0 auto 55px auto;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#cartDetails label{
    margin-top: 15px;
    margin-left: 10px;
}
.origin{
    margin-top: 3px;
    text-align: right;
}
.boldSub{
    font-weight: bold;
}
#subFont{
    font-weight: bold;
    font-size: 15px;
    margin: 18px 0px;
    text-align: center;
}
#paymentText{
    color: green;
    font-size: 28px;
}
@media (max-width: 960px) {
    #globalContainer{
       flex-direction: column;
    }
    #productDetails{
        width: 90%;
        margin: auto;
    }
    #product{
        display: grid;
        grid-template-areas: "a b"
                              "c c";
    }
    #proImg{
        grid-area: a;
        width: 100%;
    }
    #proName{
        grid-area: b;
        width: 100%;
    }
    #proSize{
        grid-area: c;
        width: 100%;
        flex-direction: row;
    }
    #cartDetails{
        display: none;
    }
    #cnfButton{
        width: 90%;
    }
    #divCount{
        width: 100%;
        padding: 0 5px;
    }
    #divFit{
        width: 100%;
        overflow: scroll;
        text-align: center;
    }
    #divFit::-webkit-scrollbar {
        display: none;
    }
}