

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    line-height: 1.43;
    background-color: #fff;
}

/* outer Container */
#golabalProduct{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 110px auto 45px auto;
}

/* left container */
#leftContainer{
    width: 48%;
    height: 500px;
    overflow-y: scroll;
}
#leftContainer::-webkit-scrollbar {
    display: none;
}
#leftTop{
    display: flex;
    justify-content: space-between;
}
#productImage{
    width: 80%;
}
#productImage img{
    width: 100%;
}
#productLogo{
    cursor: pointer;
    width: 16%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}
#productLogoImage img{
    width: 90%;
    border: 3px solid #5eb2d9;
    border-radius: 5px;
}
#leftButtom{
    display: flex;
    justify-content: space-between;
}
.deliveryTime{
    margin: 18px 0px;
    text-align: right;
    font-size: 11px;
}
/* right container */
#rightContainer{
    width: 50%;
}
#productName{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}
#optionButton{
    border: 1px solid rgb(223, 223, 223);
    padding: 15px;
    margin: 18px 0px;
    border-radius: 5px;
}
.buttonBox{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.buttonBox >div:nth-child(2){
    border: 3px solid #5eb2d9;;
}
.buttonTitle{
    font-size: 15px;
    font-weight: 600;
    margin: 8px 0px ;
}
.buttons{
    border: 1px solid rgb(90, 87, 87);
    width: 75px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.buttons:hover{
    background-color: rgb(245, 245, 245);
}
.buttonBox > div:first-child{
    border-radius: 50%;
}
.buttonBox > div:last-child{
    border-radius: 50%;
}

#addToCartBtn{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
#quantityBox{
    width: 28%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
}
.cartButtonCss{
    width: 68%;
}
.cartButtonCss button{
    width: 100%;
    padding: 12px 0;
    background-color: #5eb2d9;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
}
#miscellaneous{
    display: flex;
    justify-content: space-between;
}
.miscellaneousBox{
    width: 31%;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
}
#descriptionBox{
    width: 94%;
    margin: auto;
    text-align: justify;
}
#disclaimer{
    font-size: 10px;
    width: 80%;
    margin: 32px auto 90px auto;
    text-align: justify;

}
.textGreyColor{
    color: rgb(90, 87, 87);
}
.origin{
    margin-top: 3px;
    text-align: right;
}
.boldFont{
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
}
#boldSub{
    font-weight: bold;
}
#selectOptions{
    border: 1px solid rgb(228, 228, 228);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    left:10%;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    background-color: whitesmoke;
}
#options960px{
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#options960px button{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
}
#optionsJS{
    position: fixed;
    bottom: 50px;
    left: 10%;
    background-color: whitesmoke;
    width: 80%;
    display: none;
}
@media (max-width: 960px) {
    #golabalProduct{
        display: flex;
        flex-direction: column;
    }
    #leftContainer{
        width: 100%;
    }
    #rightContainer{
        display: none;
    }
}